
SNOWFLAKE_ACCOUNT=GOBZRUO-YF37005
SNOWFLAKE_DATABASE=BOXOFFICE

SNOWFLAKE_DBT_USER=BOXOFFICE_DBT_SVC
SNOWFLAKE_DBT_ROLE=BOXOFFICE_DBT
SNOWFLAKE_DBT_WAREHOUSE=BOXOFFICE_WH

SNOWFLAKE_DBT_PRIVATE_KEY_PATH=/home/konrad/.snowflake/boxoffice/dbt_rsa.p8
SNOWFLAKE_DBT_PRIVATE_KEY_CONTENT=
SNOWFLAKE_DBT_PRIVATE_KEY_PASSPHRASE=
