
SNOWFLAKE_ACCOUNT=GOBZRUO-YF37005
SNOWFLAKE_DATABASE=BOXOFFICE
AWS_REGION=eu-central-1
S3_BUCKET=kk-demo-pipeline
IAM_ROLE_NAME=snowflake-kk-demo-pipeline

SNOWFLAKE_AIRFLOW_USER=BOXOFFICE_AIRFLOW_SVC
SNOWFLAKE_AIRFLOW_ROLE=BOXOFFICE_AIRFLOW
SNOWFLAKE_AIRFLOW_WAREHOUSE=BOXOFFICE_WH
SNOWFLAKE_AIRFLOW_PRIVATE_KEY_PATH=/home/konrad/.snowflake/boxoffice/airflow_rsa.p8
SNOWFLAKE_AIRFLOW_PRIVATE_KEY_PASSPHRASE=

SNOWFLAKE_DBT_USER=BOXOFFICE_DBT_SVC
SNOWFLAKE_DBT_ROLE=BOXOFFICE_DBT
SNOWFLAKE_DBT_WAREHOUSE=BOXOFFICE_WH
SNOWFLAKE_DBT_PRIVATE_KEY_PATH=/home/konrad/.snowflake/boxoffice/dbt_rsa.p8
SNOWFLAKE_DBT_PRIVATE_KEY_PASSPHRASE=

SNOWFLAKE_READ_USER=BOXOFFICE_READ_SVC
SNOWFLAKE_READ_ROLE=BOXOFFICE_READ
SNOWFLAKE_READ_WAREHOUSE=BOXOFFICE_WH
SNOWFLAKE_READ_PRIVATE_KEY_PATH=/home/konrad/.snowflake/boxoffice/read_rsa.p8
SNOWFLAKE_READ_PRIVATE_KEY_PASSPHRASE=
