

SNOWFLAKE_ACCOUNT=GOBZRUO-YF37005
SNOWFLAKE_DATABASE=BOXOFFICE
AWS_REGION=eu-central-1
S3_BUCKET=kk-demo-pipeline


SNOWFLAKE_AIRFLOW_USER=BOXOFFICE_AIRFLOW_SVC
SNOWFLAKE_AIRFLOW_ROLE=BOXOFFICE_AIRFLOW
SNOWFLAKE_AIRFLOW_WAREHOUSE=BOXOFFICE_WH
SNOWFLAKE_AIRFLOW_PRIVATE_KEY_CONTENT=
SNOWFLAKE_AIRFLOW_PRIVATE_KEY_PATH=
SNOWFLAKE_AIRFLOW_PRIVATE_KEY_PASSPHRASE=


SNOWFLAKE_DBT_USER=BOXOFFICE_DBT_SVC
SNOWFLAKE_DBT_ROLE=BOXOFFICE_DBT
SNOWFLAKE_DBT_WAREHOUSE=BOXOFFICE_WH
SNOWFLAKE_DBT_PRIVATE_KEY_CONTENT=
SNOWFLAKE_DBT_PRIVATE_KEY_PATH=
SNOWFLAKE_DBT_PRIVATE_KEY_PASSPHRASE=


AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=


OMDB_API_KEY=


PBI_TENANT_ID=
PBI_CLIENT_ID=
PBI_CLIENT_SECRET=
PBI_WORKSPACE_ID=
PBI_DATASET_ID=
