.git
.env
.DS_Store
airflow_settings.yaml
__pycache__/
*.pyc
*.swp
*.swo
astro
.venv
.astro/standalone/
airflow-webserver.pid
webserver_config.py
airflow.cfg
airflow.db
logs/

include/scripts/omdb_fetch.py
include/scripts/raw_data_ingestion.py
include/dbt/
include/pbi/
